vendor
wordpress
wp-config.php

/wp-content/*
!/wp-content
/wp-content/themes/*
!/wp-content/themes
/wp-content/plugins/*
!/wp-content/plugins

!/wp-content/themes/doudous-tout-doux
!/wp-content/plugins/doudous-tout-doux
!/wp-content/uploads

install.md